.form {
   background: #101010;
   width: 700px;
   height: 250px;
   margin: 10vh auto 0;
   border-radius: 10px;
   font-family: 'Exo 2', sans-serif;
   font-weight: 500 !important;
   font-size: 16px;
}

.form_field {
   text-align: center;
   height: 55px;
   background: hsl(0, 0%, 3%);
   width: 95%;
   height: 35px;
   display: flex;
   border-radius: 10px;
   margin: 0 auto;
   margin-bottom: 15px;
}

.form_field.active {
   background: hsl(0, 0%, 12%);
}

.input {
   font-size: 14px;
   color: #fff;
   background: hsl(0, 0%, 3%);
   width: 95%;
   // padding-left: 2px;
   margin-right: 10px;
   border: none;
   outline: none;
   transition: .3s;
}

.prefix {
   width: 20px;
   height: 20px;
   padding: 5px;
   margin-right: 5px;
}

.title {
   font-size: 18px;
   letter-spacing: 1px;
   padding-top: 15px;
   color: hsl(240, 2%, 43%);
}

.title_container {
   text-align: center;
   height: 55px;
}

.svg {
   width: 17px;
   height: 17px;
   padding-top: 3px;
}


.cont {
   /* text-align: center; */
   display: flex;
   justify-content: space-between;
}

.btn {
   background: hsl(240, 2%, 43%);
   border: none;
   border-radius: 7px;
   width: 170px;
   height: 30px;
   transition: .3s;
   cursor: pointer;
   font-size: 14px;
   margin-left: 20px;
}

.btn:hover {
   background: hsl(240, 2%, 32%);
}

.answer {
   color: hsl(240, 2%, 43%);
   text-align: center;
   margin-top: 5px;
   margin-right: 20px;
}

.link {
   cursor: pointer;
   color: rgb(255, 109, 13);
   border-bottom: solid 1px rgb(255, 109, 13);
   transition: .2s;
}

.link:hover {
   opacity: .6;
}