.container {
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgb(20, 20, 20);

   .button {
      background: #101010;
      color: #fff;
      outline: none;
      width: 80px;
      height: 30px;
   }
}